/* BODY */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
  }

  /* NAV */
  
  .menu-container {
    color: black;
    background-color: white;
    padding: 40px 0;
    display: flex;
    justify-content: center;
  }
  

  .logo {
    width: auto;
  }

  .logo img {
    width: 80px;
    max-width: 100%;
    height: auto;
  }
  
  .menu {
    width: 900px;
    display: flex;
    justify-content: space-between;
  }
  
  .pages {

      display: flex;
      justify-content: flex-end;
      font-weight: bold;
  }

  .pages > * {
    margin-right: 30px;
  }
  .pages > *:last-child {
    margin-right: 0;
  }


