/* BODY */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
  }

  .custom-cursor {
    width: 20px;
    height: 20px;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(images/cursore.png);
    background-size: cover;
    pointer-events: none;
    z-index: 9999;
  }

  a, button {
    cursor: none;
  }

  /* NAV */
  
  .menu-container {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 40px 0;
    display: flex;
    justify-content: center;
  }
  

  .name {
    font-weight: bold;
    font-size: 18px;
  }

  .logo {
    width: auto;
  }

  .logo img {
    width: 80px;
    max-width: 100%;
    height: auto;
  }
  
  .menu {
    width: 900px;
    display: flex;
    justify-content: space-between;
  }
  
  .pages {

      display: flex;
      justify-content: flex-end;
      font-weight: bold;
  }

  .pages > * {
    margin-right: 30px;
  }
  .pages > *:last-child {
    margin-right: 0;
  }


  /* HERO */

  
  .hero-landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    width: 1200px;
    margin: auto;
  
  }

  .hero-copy {
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
    margin-top: -150px;
    line-height: 1;
  }

  .gradient-text {
    background: linear-gradient(to right, #491BFF, #8910C1);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Shadows Into Light', cursive;
  }

  .body-copy {

    text-align: center;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
  }

  .bold-text {
    font-weight: bold;
  }

  .consulenza {
    border: none;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    width: 22em;
    height: 5em;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #ffffff;
    cursor: pointer;
    transition: all 450ms ease-in-out;
  }
  
  
  .text {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #491BFF, #8910C1);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 18px;
  }
  
  .consulenza:hover {
    background: linear-gradient(to right, #491BFF, #8910C1);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2),
    0px 0px 180px 0px #9917FF;
    transform: translateY(-2px);
  }
  
  .consulenza:hover .text {
    color: white;
  }


/* CREATIVE PROJECT MANAGEMENT */

.pm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1500px;
  height: 700px;
  margin: auto;
  margin-top: -80px;
  border: 5px solid black;  /*debugging*/
}

.pm-copy {
  margin-top: -5px;
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.pm-body-copy {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: normal;
  margin-top: 12px;
}

.grid-container {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  height: 350px;
  grid-gap: 20px; /* Spaziatura tra le card */
  margin: auto;
  padding: 20px;
  border: 5px solid black;   /*debugging*/
}

.card {
  
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  padding: 50px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  
  width: 1000px;
}

.card h2 {
  font-size: 20px;
  margin-top: -25px;




}

.card p {
  margin-top: 12px;
  font-size: 16px;
  border: 5px solid black;   /*debugging*/
  width: 200px;
}


/* MOBILE */

/* Stili per dispositivi con larghezza massima di 600px (ad esempio smartphone) */
@media screen and (max-width: 600px) {
  /* Modifica gli stili per adattarli al layout mobile */



  .menu-container {
    padding: 20px 0;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .pages {
    justify-content: center;
    margin-top: 20px;
  }

  .pages > * {
    margin-right: 20px;
  }

.hero-landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%; /* Aggiungi questa riga per assicurarti che la larghezza occupi tutto lo spazio disponibile */

  /* Modifica i margini per centrare l'elemento nella pagina */
  margin: auto; /* Imposta i margini su "auto" per centrare l'elemento orizzontalmente */
}


  .hero-copy {
    font-size: 40px;
    
  }

  .body-copy {
    font-size: 20px;
    width: 100%;
  }

  .btn {
    width: 80%;
    height: 50px;
    font-size: 14px;
    line-height: 30px;
  }

  .btn:hover {
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -2px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 2px rgba(255, 255, 255, 0.2),
    0px 0px 50px 0px #9917FF;
    transform: translateY(-2px);
  }

  .sparkle {
    fill: #686868;
    transition: all 800ms ease;
    margin-right: 5px;
  }

  .text {
    font-size: 14px;
  }

  .pm {
    height: auto;
  }

  .pm-copy {
    font-size: 40px;
    margin-top: -30px;
  }

  .pm-body-copy {
    font-size: 20px;
  }

  .grid-container {
    height: auto;
    flex-wrap: wrap;
  }

  .card {
    width: 100%;
    padding: 30px;
    margin-bottom: 20px;
  }

  .card h2 {
    font-size: 18px;
    margin-top: -10px;
  }

  .card p {
    font-size: 14px;
  }
}


/* TABLET */




@media screen and (min-width: 601px) and (max-width: 1024px) {
  /* Modifica gli stili per adattarli al layout per tablet */

  .menu-container {
    padding: 30px 0;
  }

  .menu {
    flex-direction: row; /* Ripristina la direzione del menu */
    justify-content: space-between; /* Distribuisci gli elementi del menu */
    align-items: center;
    width: 90%; /* Riduci leggermente la larghezza del menu */
    margin: 0 auto; /* Centra il menu orizzontalmente */
  }

  .pages {
    justify-content: flex-end;
    margin-top: 0; /* Rimuovi il margine superiore */
  }

  .pages > * {
    margin-right: 20px;
  }

  .hero-landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Riduci leggermente l'altezza */
    width: 100%;
    margin: auto;
  }

  .hero-copy {
    font-size: 36px; /* Riduci la dimensione del testo */
  }

  .body-copy {
    font-size: 18px; /* Riduci la dimensione del testo */
    width: 80%; /* Riduci la larghezza */
  }

  .btn {
    width: 60%; /* Riduci la larghezza */
    height: 40px; /* Riduci l'altezza */
    font-size: 14px;
    line-height: 26px; /* Riduci l'altezza della linea */
  }

  .sparkle {
    fill: #686868;
    transition: all 800ms ease;
    margin-right: 5px;
  }

  .text {
    font-size: 14px;
  }

  .pm {
    height: auto;
  }

  .pm-copy {
    font-size: 36px; /* Riduci la dimensione del testo */
    margin-top: -20px; /* Riduci la distanza dal blocco precedente */
  }

  .pm-body-copy {
    font-size: 18px; /* Riduci la dimensione del testo */
  }

  .grid-container {
    height: auto;
    flex-wrap: wrap;
  }

  .card {
    width: 45%; /* Riduci la larghezza delle carte per adattarle su due colonne */
    padding: 20px; /* Riduci il padding */
    margin-bottom: 20px;
  }

  .card h2 {
    font-size: 16px; /* Riduci la dimensione del titolo */
    margin-top: -8px;
  }

  .card p {
    font-size: 14px;
  }
}

