/* BODY */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background-color: #FCFCFC;
  }


  /* NAV */
  
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 663px;
    margin-right: 800px;
    margin-top: 30px;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 60px;
  }
  
  .page-container {
    display: flex;
    gap: 20px;
  }
  
  .about-page, .blog-page, .progetti-page, .home-page {
    margin: 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    color: #6F6F6F;
  }
  
  .page-container h1 a {
    text-decoration: none;
    color: inherit;
  }
  
  
  /* NAV */


  /* HERO */



  .hero {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border: 0px solid rgb(255, 255, 255);      /*DEBUGGING*/
    align-items: center;
    width: 100%;
    padding: 50px;
  }
  
  .hero-container {
    text-align: left;
    color: #202020;
    width: 600px;
    border: 0px solid rgb(255, 255, 255);       /*DEBUGGING*/
  }
  
  .about-me {
    font-size: 28px;
    font-weight: 700;
    color: #202020;
  }
  
  .contest {
    margin-top: 4px;
    color: #6F6F6F;
    font-size: 17px;
  }

  .gallery {
    margin-top: 15px;
    margin-left: 30px;
    border: 1px solid rgb(255, 255, 255);       /*DEBUGGING*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 10px;
}

.gallery img {
    border-radius: 7px;
    width: 150px;
    height: auto;
    box-shadow: 2px 2px 4px rgba(92, 92, 92, 0.1);
}


.about {
  display: flex;
  flex-direction: column;
  border: 0px solid rgb(0, 0, 0);      /*DEBUGGING*/
  align-items: center;
  width: 100%;
  padding: 50px;
  width: 600px;
}

.about-title {
  text-align: left;
  font-weight: 700;
  color: #202020;
  width: 600px;
  border: 0px solid rgb(255, 0, 0);       /*DEBUGGING*/
}

.about-p {
  margin-top: 7px;
  color: #6F6F6F;
  font-size: 16px;
  text-align: left;
  width: 600px;
}

.mail {
  padding: 8px;
  border-radius: 7px;
  border: 1px solid rgb(204, 204, 204);
  cursor: pointer;
  font-weight: 600;
  color: #313131;
  margin-left: -468px;
  margin-top: 20px;
}


.work {
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  border: 0px solid rgb(255, 255, 255);      /*DEBUGGING*/
  align-items: center;
  width: 100%;
  padding: 50px;
}


.work-title {
  text-align: left;
  font-weight: 700;
  color: #202020;
  width: 600px;
  border: 0px solid rgb(255, 0, 0);       /*DEBUGGING*/
}

.work-p {
  margin-top: 4px;
  color: #6F6F6F;
  font-size: 16px;
  text-align: left;
  width: 600px;
}

.work-exp-container {
  margin-top: 15px;
  border: 0px solid rgb(255, 0, 0);       /*DEBUGGING*/
  width: 600px;
}

.exp-1, .exp-2, .exp-3, .exp-4 {
  border: 0px solid rgb(255, 0, 0);       /*DEBUGGING*/
  padding: 10px 0;
  display: flex;
  align-items: center;
}


.exp-1 img, .exp-2 img, .exp-3 img, .exp-4 img {
  border: 0px solid rgb(255, 0, 0);       /*DEBUGGING*/
  width: 50px;
  margin-right: 10px;
}

.exp-1 p, .exp-2 p, .exp-3 p, .exp-4 p {
  border: 0px solid rgb(255, 0, 0);       /*DEBUGGING*/
  margin-left: 20px;
}


.connect {
  display: flex;
  flex-direction: column;
  border: 0px solid rgb(255, 255, 255);      /*DEBUGGING*/
  align-items: center;
  width: 100%;
  padding: 50px;
}


.connect-title {
  text-align: left;
  font-weight: 700;
  color: #202020;
  width: 600px;
  border: 0px solid rgb(255, 0, 0);       /*DEBUGGING*/
}

.connect-p {
  margin-top: 4px;
  color: #6F6F6F;
  font-size: 16px;
  text-align: left;
  width: 600px;
}

.connect-buttons-container {
  display: flex;
  justify-content: flex-start;
  width: 600px;
  margin-top: 25px;
  gap: 15px;
}

.linkedin, .github, .instagram {
  padding: 8px;
  border-radius: 7px;
  border: 1px solid rgb(204, 204, 204);
  cursor: pointer;
  font-weight: 600;
  color: #313131;
}