/* BODY */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    background-color: #FCFCFC;
  }

  /* NAV */
  
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 663px;
  margin-right: 800px;
  margin-top: 30px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 60px;
}

.page-container {
  display: flex;
  gap: 20px;
}

.about-page, .blog-page, .progetti-page {
  margin: 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #6F6F6F;
}

/* NAV */

/* HERO */

.hero {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(255, 255, 255);      /*DEBUGGING*/
  align-items: center;
  width: 100%;
  padding: 50px;
}

.presentation {
  text-align: left;
  width: 600px;
  border: 1px solid rgb(255, 255, 255);       /*DEBUGGING*/
}

.name {
  font-size: 28px;
}

.description {
  color: #6F6F6F;
  font-size: 16px;
}

.resume {
  border: 1px solid rgb(255, 255, 255);       /*DEBUGGING*/
  width: 600px;
  margin-top: 30px;
  display: flex;
  
  align-items: center;
  justify-content: space-between;
}

.profile-pic {
  width: 100px;
}

.links {
  border: 1px solid rgb(255, 255, 255);       /*DEBUGGING*/
  margin-left: 25px;
  color: #6F6F6F;
  width: 500px;
}

.riassunto {
  border: 1px solid rgb(255, 255, 255);       /*DEBUGGING*/
  margin-top: 20px; 
  width: 600px;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  width: 600px;
  margin-top: 25px;
  gap: 15px;
}

.mail, .call {
  padding: 8px;
  border-radius: 7px;
  border: 1px solid rgb(204, 204, 204);
  cursor: pointer;
}


/* CONTENT */


.skills {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(255, 0, 0);      /*DEBUGGING*/
  align-items: center;
  width: 100%;
  padding: 50px;
}

.skills-title {
  text-align: left;
  width: 600px;
  border: 1px solid rgb(255, 255, 255);       /*DEBUGGING*/
}

.skills-p {
  color: #6F6F6F;
  font-size: 16px;
}

.tech-stuff {
  border: 1px solid rgb(255, 0, 0);      /*DEBUGGING*/
  margin-top: 15px;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 3px;
  margin-right: 365px;
  padding: 12px;
  border-radius: 6px;
  border: none;
  border: 1px solid rgb(204, 204, 204);
}

.html, .css, .js, .ts, .react {
  width: 40px;
}







/* MOBILE */

@media only screen and (max-width: 768px) {

  /* NAV */
  
  .navbar {
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column;
  }

  .page-container {
    margin-top: 20px;
  }

  /* HERO */

  .hero {
    padding: 20px;
  }

  .presentation, .resume, .riassunto, .buttons {
    width: 100%;
  }

  .resume {
    flex-direction: column;
  }

  .profile-pic {
    margin: 20px 0;
  }

  .links {
    margin-left: 0;
    padding: 20px 0;
  }

  /* CONTENT */

  .skills {
    padding: 20px;
  }

  .skills-title, .skills-p {
    width: 100%;
  }

  .tech-stuff {
    justify-content: space-around;
    margin-right: 0;
  }

}




